#!/usr/bin/make -f

DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/default.mk

%:
	dh $@ --with php

override_dh_auto_configure:
	phpize
	./configure

override_dh_auto_test:
	NO_INTERACTION=1 make test

override_dh_auto_install:

get_orig_source:
	git clone --depth=1 https://github.com/NauxLiu/opencc4php.git
	cd opencc4php && \
		DEB_VERSION=`git log -n 1 --pretty=0.0.0~git%ad.%h --date=short | tr -d '-'` && \
		git archive --prefix='opencc4php/' --format=tar.gz -o ../../opencc4php_$$DEB_VERSION.orig.tar.gz HEAD
	rm -rf opencc4php

clean:
	dh clean
